input:focus {
  outline: none;
  color: #242424;
  background-color: transparent;
}

button:focus {
  outline: none;
}

.todo-wrapper {
  width: 50%;
  min-height: 80vh;
  display: flex;
  flex-flow: column wrap;
  background-color: #231f6d;
  margin: 0 auto;
  margin-top: 4rem;
  box-shadow: 8px 8px 9px #050d33;
  align-items: center;
}

.todo-wrapper h1 {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}

.todo-wrapper h2 {
  font-size: 1rem;
  color: #fff;
  text-align: center;
  font-weight: 900;
}

.todo-form {
  margin: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 3px solid #e26f1a;
  max-height: 45px;
  min-height: 40px;
  border-radius: 10px;
}

.input__wrapper {
  width: 80%;
  margin: 20px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-input {
  width: 100%;
  min-height: 30px;
  max-height: 30px;
  margin: 10px;
  background-color: transparent;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.todo-btn {
  width: 100px;
  min-height: 45px;
  border: none;
  background: linear-gradient(to right, #e26f1a, #e2ab62b5);
  font-family: revert;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
}

.todo__wrapper {
  width: 80%;
}

.todo-item {
  display: flex;
  width: 100%;
  height: 45px;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(90deg,
      rgba(255, 118, 20, 1) 0%,
      rgba(255, 84, 17, 1) 100%);

  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.todo-item:nth-child(2n + 1) {
  background: linear-gradient(90deg,
      rgba(93, 12, 255, 1) 0%,
      rgba(155, 0, 250, 1) 100%);
}

.todo-item:nth-child(2n + 2) {
  background: linear-gradient(90deg,
      rgb(235, 232, 88) 0%,
      rgb(184, 233, 92) 100%);
}

.complete {
  text-decoration: line-through;
  color: #232323;
  opacity: 0.4;
}

.remove-icon,
.edit-icon {
  padding: 10px;
  font-size: 1.5rem;
}

.remove-icon:hover,
.edit-icon:hover {
  color: #242424;
}

@media only screen and (max-width: 960px) {
  .todo-wrapper {
    width: 90%;
  }
}